

/*二级导航*/
nav .nav_inner ul li .nav_list {
	text-align: left;
	position: absolute;
	top: 41px;
	left: -1px;
	padding: 14px 0 0 14px;
	background: #fff;
	/*height: 370px;*/
	width: 740px;
	border:1px solid #ccc;
	border-top:none;
	z-index: 3;
	display: none;
}
nav .nav_inner ul li:nth-of-type(4) .nav_list{
	
	left: -40px;
}
nav .nav_inner ul li:nth-of-type(5) .nav_list{
	
	left: -110px;
}
nav .nav_inner ul li:nth-of-type(6) .nav_list{
	
	left: -180px;
}
nav .nav_inner ul li:nth-of-type(7) .nav_list{
	
	left: -270px;
}
nav .nav_inner ul li:nth-of-type(8) .nav_list{
	
	left: -360px;
}
nav .nav_inner ul li:nth-of-type(9) .nav_list{
	
	left: -430px;
}

/*左边*/
.nav_list .nav_lt {
	width: 450px;
	height:370px;
	float: left;
}

.nav_list .nav_lt dl {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #959595
}

.nav_list .nav_lt dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	border-right:2px solid #ccc;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;
}
.nav_rt dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	
}
.nav_rt dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: left;
	color:#000;
	margin: 2px 10px 2px 0;
}

/*第二个*/
/*左上边*/
.nav_list .nav_lt1 {
	width: 480px;
	height:350px;
	float: left;
	border-bottom: 1px dotted #959595;
	
}

.nav_list .nav_lt1 dl {
	float: left;
	width: 100%;
	
}

.nav_list .nav_lt1 dt {
	float: left;
	width: 100%;
	margin: 2px 0 2px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt1 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
	color:#000;
}

.nav_list .nav_lt1 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右上边*/
.nav_list .nav_rt1 {
	float: right;
	width: 240px;
	height:350px;
	padding: 0 4px 0 16px;
	border-bottom: 1px dotted #959595;
}
.nav_rt1 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt1 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt1 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	margin: 2px 15px 2px 0;
	
}
.nav_rt1 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	color:#000;
	overflow: hidden;
	text-align: left;
	margin: 2px 15px 2px 0;
}
/*左下边*/
.nav_list .nav_lt_b {
	width: 480px;
	height:270px;
	float: left;
	margin-top:20px;
	
}

.nav_list .nav_list .nav_lt_b dl {
	float: left;
	width: 100%;
	
}

.nav_list .nav_lt_b dt {
	float: left;
	width: 100%;
	margin: 2px 0 2px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt_b dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
	color:#000;
}

.nav_list .nav_lt_b dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	padding-right:4px;
	color:#000;
	font-size: 12px;
}
/*右下边*/
.nav_list .nav_rt_b {
	float: right;
	width: 240px;
	height:350px;
	padding: 0 4px 0 16px;
	border-bottom: 1px dotted #959595;
	margin-top:20px;
}
.nav_rt_b dl {
	
	font-size: 12px;
	width: 100%;
	float: left;

}
.nav_rt_b dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt_b dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	margin: 2px 15px 2px 0;
	
}
.nav_rt_b dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	color:#000;
	overflow: hidden;
	text-align: left;
	margin: 2px 15px 2px 0;
}
/*第三个*/
/*左边*/
.nav_list .nav_lt3 {
	width: 450px;
	height:200px;
	float: left;
}

.nav_list .nav_lt3 dl {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #959595
}

.nav_list .nav_lt3 dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt3 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt3 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt3 {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;
}
.nav_rt3 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt3 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt3 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	margin: 2px 15px 2px 0;
	
}
.nav_rt3 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	color:#000;
	text-align: left;
	margin: 2px 10px 2px 0;
}
/*左下边*/
.nav_list .nav_lt3_b {
	width: 450px;
	height:170px;
	float: left;
}

.nav_list .nav_lt3_b dl {
	float: left;
	width: 100%;
}

.nav_list .nav_lt3_b dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt3_b dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt3_b dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
/*第四个*/
/*左上边*/
.nav_list .nav_lt4 {
	width: 450px;
	height:420px;
	float: left;
	border-bottom: 1px dotted #959595
}

.nav_list .nav_lt4 dl {
	float: left;
	width: 100%;

}

.nav_list .nav_lt4 dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt4 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt4 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt4 {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;

}
.nav_list .nav_rt4 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_list .nav_rt4 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_list .nav_rt4 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	margin: 2px 15px 2px 0;
	
}
.nav_list .nav_rt4 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	color:#000;
	text-align: left;
	margin: 2px 10px 2px 0;
}
/*左下边*/
.nav_list .nav_lt4_b {
	width: 450px;
	height:440px;
	float: left;
}

.nav_list .nav_lt4_b dl {
	float: left;
	width: 100%;
}

.nav_list .nav_lt4_b dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt4_b dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt4_b dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*第五个*/
/*左边*/
.nav_list .nav_lt5 {
	width: 450px;
	height:370px;
	float: left;
}

.nav_list .nav_lt5 dl {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #959595
}

.nav_list .nav_lt5 dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt5 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt5 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt5 {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;
}
.nav_rt5 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt5 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt5 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	
}
.nav_rt5 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: left;
	color:#000;
	margin: 2px 10px 2px 0;
}
/*第六个*/
/*左边*/
.nav_list .nav_lt6 {
	width: 450px;
	height:370px;
	float: left;
}

.nav_list .nav_lt6 dl {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #959595
}

.nav_list .nav_lt6 dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt6 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt6 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt6 {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;
}
.nav_rt6 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt6 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt6 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	
}
.nav_rt6 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: left;
	color:#000;
	margin: 2px 10px 2px 0;
}
/*第7个*/
/*左边*/
.nav_list .nav_lt7 {
	width: 450px;
	height:800px;
	float: left;
}

.nav_list .nav_lt7 dl {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #959595
}

.nav_list .nav_lt7 dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt7 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt7 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt7 {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;
}
.nav_rt7 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt7 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt7 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	
}
.nav_rt7 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: left;
	color:#000;
	margin: 2px 10px 2px 0;
}
/*第8个*/
/*左边*/
.nav_list .nav_lt8 {
	width: 450px;
	height:800px;
	float: left;
}

.nav_list .nav_lt8 dl {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #959595;
}

.nav_list .nav_lt8 dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt8 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt8 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt8 {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;
}
.nav_rt8 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt8 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt8 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	
}
.nav_rt8 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: left;
	color:#000;
	margin: 2px 10px 2px 0;
}
/*第9个*/
/*左边*/
.nav_list .nav_lt9 {
	width: 450px;
	height:800px;
	float: left;
}

.nav_list .nav_lt9 dl {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #959595
}

.nav_list .nav_lt9 dt {
	float: left;
	width: 100%;
	margin: 6px 0 4px 0;
	font-size: 12px;
	font-weight: 700;
}

.nav_list .nav_lt9 dd {
	width: auto;
	margin: 0 0 6px 0;
	float: left;
}

.nav_list .nav_lt9 dd a {
	line-height: 12px;
	height: 12px;
	width: auto;
	margin: 0 4px 0 0;
	display: inline;
	float: none;
	color:#000;
	padding-right:4px;
	font-size: 12px;
}
/*右边*/
.nav_list .nav_rt9 {
	float: right;
	width: 240px;
	padding: 0 4px 0 16px;
}
.nav_rt9 dl {
	
	font-size: 12px;
	width: 100%;
	float: left;
}
.nav_rt9 dt{
	font-size:12px;
	font-weight: 700;
}
.nav_rt9 dd{
	float:left;
	width: 100px;
	height: 23px;
	line-height: 23px;
	
}
.nav_rt9 dd a {
	display: inline;
	float: left;
	width: 100px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: left;
	color:#000;
	margin: 2px 10px 2px 0;
}





